@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('../fonts/Raleway'), local('../fonts/Raleway-Regular'),
		url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype'),
		url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    box-sizing: border-box;
}

.main_width {
    width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.row::after {
    clear: both;
    display: block;
    content: '';
}

header, section, footer {
    padding: 10px 0;
}

.lead_color {
    color: #24ba9f;
}

header {
    background-color: #000;
    width: 100%;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

header a {
    text-decoration: none;
    color: #fff;
}

#header_logo {
    float: left;
    font-size: 14px;
    line-height: 20px;
}

#header_nav {
    float: right;
}

#header_nav ul {
    list-style-type: none;
    color: white;
}

#header_nav_row {
    position: relative;
    padding: 
}

#header_nav_row  li {
    margin-left: 10px;
    margin-right: 10px;
}

#header_nav_row > li {
    display: inline-block;
    font-size: 14px;
}

#header_nav_col {
    padding-top: 25px;
    position: absolute;
    visibility: hidden;
    left: -13px;
}

#header_nav_col li {
    background-color: #000;
    padding: 5px 10px;
    font-weight: 400;
    letter-spacing: normal;
}

#header_nav_col li:first-child {
    padding-top: 10px;
}

#header_nav_col li:last-child {
    padding-bottom: 10px;
}

#header_nav_row li:first-child:hover #header_nav_col {
    visibility: visible;
}

#welcome {
    background: #fff;
    background: -webkit-linear-gradient(#fff, #555);
    background: -o-linear-gradient(#fff, #555);
    background: -moz-linear-gradient(#fff, #555);
    background: linear-gradient(#fff, #555);
    width: 100%;
}

#choose {
    background: #fff;
    width: 100%;
}

#pricing {
    background-color: #f1f1f1;
    width: 100%;
}

#contact {
    background: #fff;
    width: 100%;
}

footer {
    background: #fff;
    width: 100%;
}