@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Regular.eot');
	src: local('../fonts/Raleway'), local('../fonts/Raleway-Regular'),
		url('../fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Regular.woff2') format('woff2'),
		url('../fonts/Raleway-Regular.woff') format('woff'),
		url('../fonts/Raleway-Regular.ttf') format('truetype'),
		url('../fonts/Raleway-Regular.svg#Raleway-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Bold.eot');
	src: local('../fonts/Raleway Bold'), local('../fonts/Raleway-Bold'),
		url('../fonts/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Bold.woff2') format('woff2'),
		url('../fonts/Raleway-Bold.woff') format('woff'),
		url('../fonts/Raleway-Bold.ttf') format('truetype'),
		url('../fonts/Raleway-Bold.svg#Raleway-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Raleway';
	src: url('../fonts/Raleway-Black.eot');
	src: local('../fonts/Raleway Black'), local('../fonts/Raleway-Black'),
		url('../fonts/Raleway-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Raleway-Black.woff2') format('woff2'),
		url('../fonts/Raleway-Black.woff') format('woff'),
		url('../fonts/Raleway-Black.ttf') format('truetype'),
		url('../fonts/Raleway-Black.svg#Raleway-Black') format('svg');
	font-weight: 900;
	font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: Raleway;
    box-sizing: border-box;
    xborder: 1px solid red;
}

.main_width {
    width: 1000px;
    margin: 0 auto;
    /* padding-left: 10px;
    xpadding-right: 10px; */
    xborder: 1px solid red;
}

.row::after {
    clear: both;
    display: block;
    content: '';
}

header, section, footer {
    padding: 10px 0;
}

.accent {
    color: #24ba9f;
    font-weight: 800;
}

.color_accent {
    color: #24ba9f;
}

header {
    background-color: #000;
    width: 100%;
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
}

header a {
    text-decoration: none;
    color: #fff;
}

#header_logo {
    float: left;
    font-size: 14px;
    line-height: 20px;
}

#header_nav {
    float: right;
}

#header_nav ul {
    list-style-type: none;
    color: white;
}

#header_nav_row {
    position: relative;
    padding: 
}

#header_nav_row  li {
    margin-left: 10px;
    margin-right: 10px;
}

#header_nav_row  li:last-child {
    margin-right: 0;
}

#header_nav_row > li {
    display: inline-block;
    font-size: 14px;
}

#header_nav_row li:first-child:hover #header_nav_col {
    visibility: visible;
}

#header_nav_col {
    padding-top: 25px;
    position: absolute;
    visibility: hidden;
    left: -13px;
}

#header_nav_col li {
    position: relative;
    width: 100px;
    background-color: #000;
    padding: 5px 10px;
    font-weight: 400;
    letter-spacing: normal;
}

.triangle {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #000;
    transform: rotate(45deg);
    left: 40px;
    top: -6px;
}

/*  need to make triangle instead of rotated square, so i can make bckgrnd color change on li:hover (because z-index doesnt want to work in my relative/absolute mess)*/

#header_nav_col li:first-child {
    padding-top: 10px;
}

#header_nav_col li:last-child {
    padding-bottom: 10px;
}

#welcome {
    background: #fff;
    background: -webkit-linear-gradient(#fff, #555);
    background: -o-linear-gradient(#fff, #555);
    background: -moz-linear-gradient(#fff, #555);
    background: linear-gradient(#fff 40%, #bbb);
    width: 100%;
}

#welcome_slide_left, #welcome_slide_right {
    width: 3%;
    font-size: 66px;
    margin-top: 18%;
}

#welcome_img {
    width: 40%;
}

#welcome_img {
    margin-top: 60px;
}

#welcome_content {
    position: relative;
    width: 54%;
    text-align: center;
    padding-right: 60px;
    padding-left: 40px;
    margin-top: 100px;
}

img#black_chair {
    height: 360px;
}

.floater {
    float: left;
}

.welcome_heading {
    font-weight: 700;
    font-size: 38px;
}

.welcome_par {
    padding-top: 30px;
    padding-bottom: 30px;
    line-height: 150%;
}

button#more {
    position: absolute;
    left: 160px;
    width: 200px;
    height: 40px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    background-color: #24ba9f;
    border-radius: 7px;
    border-color: transparent;
}

button#more:visited {
    outline: none;  /* cannot deal with the ugly border when visited */
}

button#more:hover {
    cursor: pointer;
    box-shadow: 0 0 5px #24ba9f;
}

button#more:active {
    outline: none;
    bottom: -41px;  /* it works, but i feel this is messy */
}

#choose {
    background: #fff;
    width: 100%;
}

#choose_row {
    padding-top: 10px;
    padding-bottom: 50px;
}

.choose_box {
    width: 32.33%;
    height: 250px;
    float: left;
}

.label {
    width: 100%;
    height: 65px;
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 57%;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-top: 20px;
    line-height: 120%;
}

.small_bar {
    width: 160px;
    height: 6px;
    background-color: #24ba9f;
}

#box_1 {
    background-image: url(../images/box1_img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-right: 10px;
}

#box_2 {
    background-image: url(../images/box2_img.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

#box_3 {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 10px;
    border: 2px solid #d9d9d9;
    margin-left: 10px;
}

.choose_box h3 {
    padding-left: 3px;
    font-size: 16px;
}

#box_3 p {
    padding-top: 20px;
    font-size: 15px;
}

#pricing {
    background-color: #f1f1f1;
    width: 100%;
}

#contact {
    background: #fff;
    width: 100%;
}

footer {
    background: #fff;
    width: 100%;
}